<div class="container">
<div class="row article-single">
  <div class="col-md-12">

<div>
  <h1 class="display-4">{{article.title}}</h1>
  </div>
   <img class="image-single" src="{{article.image}}" alt="une image">
  <p class="lead">{{{article.content}}}</p>
  <hr class="my-4">
  <p>  {{article.author}} {{moment createDate format="DD-MM-YY"}}</p>
    <a  href="/"> <input type="button" class="btn btn-primary" value="Retour"> </a>
</div>
</div>
  </div>

